/**
 * FONT FACES
 */
@font-face {
   font-family: "Abel";
   src: local("Abel"), url("../fonts/abel-regular.ttf");
}
@font-face {
   font-family: "Afta Sans Thin";
   src: local("Afta Sans Thin"), url("../fonts/AftaSansThin-Regular.otf");
}
@font-face {
   font-family: "Aileron";
   src: local("Aileron"), url("../fonts/Aileron-Regular.otf");
}
@font-face {
   font-family: "Aleo";
   src: local("Aleo"), url("../fonts/Aleo-Regular.otf");
}
@font-face {
   font-family: "Aller";
   src: local("Aller"), url("../fonts/Aller_Rg.ttf");
}
@font-face {
   font-family: "Amaranth";
   src: local("Amaranth"), url("../fonts/Amaranth-Regular.otf");
}
@font-face {
   font-family: "Antonio";
   src: local("Antonio"), url("../fonts/Antonio-Regular.ttf");
}

/**
 * STYLES
 */
body, html {
   margin: 0px;
   touch-action: auto;
   font-size: 1.1rem;
}

a {
   font-weight: 500;
   text-decoration: none;
}
a:not(.nav-link, .btn):hover {
   text-decoration: underline !important;
}
a:focus {
   color: #1686E2;
}

button:focus {
   outline: none;
}

.show-in {
   opacity: 0;
}

.logo {
   font-weight: 600 !important;
   font-family: Amaranth, Abel;
   user-select: 
}

.navbar {
   box-shadow: 2px 2px 6px #0001;
}

.banner {
   height: 500px;
}
.banner img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.banner .position-absolute {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #0008;
}
.banner .container h1 {
   font-family: Amaranth, Aller, Arial, Helvetica;
}

section .section-title {
   display: inline-block;
   font-size: 12px;
   font-weight: 200;
   padding: 5px;
   margin-bottom: 12px;
   background-color: #00BD40;
   color: #FFF;
   font-family: Antonio, Roboto, Arial;
   text-transform: uppercase;
}
section .h3 {
   font-size: 1.8rem;
   font-weight: 300;
   font-family: Aleo;
   padding-bottom: 12px;
}
section img {
   box-shadow: 1px 1px 2px #0003;
}

#services .service {
   margin-bottom: 12px;
}
#services .service i {
   font-size: 4rem;
   margin-top: 0.8em;
   margin-bottom: 0.8em;
}
#services .service .h4 {
   font-size: 0.9;
   font-family: Aileron;
   font-weight: 400;
}
#services .service p {
   font-size: 1rem;
}

.card {
   border-radius: 12px;
   box-shadow: 2px 2px 12px #0002;
}

#faq .card {
   box-shadow: 2px 2px 12px #0002;
   border: none;
   border-top: 1px solid #42424222;
   border-radius: 0px;
}
#faq .card-header .btn-link {
   white-space: normal;
}

footer a {
   font-weight: 600 !important;
}

@media (min-width: 768px) {
   .banner {
      background-image: web-design-2906159.jpg
   }
   .banner .container h1 {
      font-size: 3.5rem;
      margin-bottom: 20px;
   }
   
   section .h3 {
      font-size: 3rem;
   }
}

/**
 * ANIMATIONS
 */
@keyframes scale-show {
   0% {
      transform: scale(0);
      opacity: 0.0;
   }
   50% {
      opacity: 0.0;
   }
   100% {
      transform: scale(1);
      opacity: 1.0;
   }
}

.scale-show {
   opacity: 0;
   animation-delay: 10ms;
   animation-duration: 500ms;
   animation-fill-mode: forwards;
   animation-name: scale-show;
}
